body{
  magin: 0;
  padding: 0;
  background: #2c3e50;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.btn{
  border: none;
  margin: 20px;
  padding: 24px;
  width: 220px;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
}

.btn1{
  background-image: linear-gradient(to left,#c0392b,#ff4757,#c0392b);
}

.btn2{
  background-image: linear-gradient(to left,#e67e22,#f1c40f,#e67e22);
}

.btn3{
  background-image: linear-gradient(to left,#44bd32,#2ed573,#44bd32);
}

.btn4{
  background-image: linear-gradient(to left,#3742fa,#1e90ff,#3742fa);
}

.btn:hover{
  background-position: right;
}
