<body>
<main id="cd-main-content">
	<section id="cd-intro">
		<h1>Welcome to Qunet!</h1>

		<header class="cd-header">
			<div id="cd-logo"><a href="#0"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-logo_2.svg" alt="Logo"></a></div>
			<a class="cd-menu-trigger" href="#main-nav">Choose site (menu)<span></span></a>
		</header>
		<div class="cd-blurred-bg"></div>
	</section> <!-- cd-intro -->
</main>

<div class="cd-shadow-layer"></div>

<nav id="main-nav">
	<ul>
		<li><a href="#0"><span>Soon</span></a></li>
		<li><a href="#0"><span>Soon</span></a></li>
		<li><a href="#0"><span>Soon</span></a></li>
		<li><a href="#0"><span>Soon</span></a></li>
		<li><a href="https://gwnq.ga"><span>Old GwnQ.ga site</span></a></li>
	</ul>
	<a href="#0" class="cd-close-menu">Close<span></span></a>
</nav>
</body>